.wrapper{
  display: flex;
  flex-direction: column;
}

.main-content{
  flex: 1;
  height: 100%;
  padding-bottom: 25px;
  position: relative;
  margin-left: 300px;


  @media only screen and (max-width : 780px) {
    overflow: hidden;
    transform: translateX(-300px);
    width: calc(100%);
    transition: transform 0.2s ease-out;
  }

}

.anim-appear {
  opacity: 0.01;
}

.anim-appear.anim-appear-active{
  opacity: 2;
  transition: opacity 0.3s ease-in;
}

.home-header{
  padding-top: 5%;
  padding-bottom: 10%;
  text-align: center;
}

.ChartWrapp{
  display: block;
  width: 100%;
}

.showError{
  padding: 10% 20%;
  margin: 0 auto;
  span{
    display: block;
    padding: 5%;
    background: #FF7D60;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 34px 8px rgba(255,112,87,0.2);
  }
}

.home-action-btn{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 60px;
  padding: 25px;
  h3{
    text-align: center;
  }
  button{
    width: 200px;
    margin: 10px 0;
  }
  @media only screen and (max-width : 768px) {
    padding-top: 0;
    margin-top: 0;
  }
}

.Line{
  //background: #F0F0F0;
}