@import "variables.scss";


.select-wrapper{
  //text-align: right;
  padding: 0 0 0 0;
  .rc-select-selection{
    width: 220px;
    height: 42px !important;
    line-height: 40px !important;
    font-size: 18px;
    border-radius: 35px !important;
    border: 2px solid $primary-color-3 !important;
    outline: none !important;
    .rc-select-selection__rendered{
      height: 40px !important;
      line-height: 36px !important;
    }
    .rc-select-selection__rendered{
      margin-left: 25px !important;
    }
    .rc-select-arrow{
      top: 6px !important;
      right: 7px !important;
    }
    .rc-select-selection__clear{
      top: 4px !important;
      right: 27px !important;
    }
  }
  .rc-select-enabled .rc-select-selection:hover {
    border-color: inherit !important;
    box-shadow: none !important;
  }

  .rc-select-focused .rc-select-selection {
    border-color: #00AAB0 !important;
  }
  .rc-select-open {
    border-color: $primary-color !important;
    box-shadow: none !important;
  }
}

.ReactModalPortal{
  .addNotificationForm{
    .select-wrapper{
      //text-align: right;
      padding: 0 0 0 0;
      .rc-select-selection{
        width: 260px;
        height: 42px !important;
        line-height: 40px !important;
        font-size: 18px;
        border-radius: 35px !important;
        border: 2px solid $primary-color-3 !important;
        outline: none !important;
        .rc-select-selection__rendered{
          height: 40px !important;
          line-height: 36px !important;
        }
        .rc-select-selection__rendered{
          margin-left: 25px !important;
        }
        .rc-select-arrow{
          top: 6px !important;
          right: 7px !important;
        }
        .rc-select-selection__clear{
          top: 4px !important;
          right: 27px !important;
        }
      }
      .rc-select-enabled .rc-select-selection:hover {
        border-color: inherit !important;
        box-shadow: none !important;
      }

      .rc-select-focused .rc-select-selection {
        border-color: #00AAB0 !important;
      }
      .rc-select-open {
        border-color: $primary-color !important;
        box-shadow: none !important;
      }
    }
  }
}