@import "variables.scss";
.settings-wrap{
  padding: 25px;
  hr{
    height: 2px;
    color: #ccc;
  }
  .user-settings{
    .select-wrapper{
      margin: 10px 0;
    }
    @media only screen and (max-width : 480px) {
      text-align: center;
    }
  }
  .fa-bars {
    font-size: 40px;
    margin: 0 0 10px 0;
    transition: all 0.2s;
    &:hover{
      color: #ccc;
      transition: all 0.2s;
    }
  }
  @media only screen and (min-width : 780px) {
    .fa-bars {
      display: none;
    }
  }

  .notification-settings{
    @media only screen and (max-width : 480px) {
      text-align: center;
    }
  }
}

.edit-actions{
  i{
    &:hover{
      cursor: pointer;
      color: $primary-color;
    }
  }
}

.ReactModalPortal{
  .addNotificationForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    margin: 0 auto;
    input[type="text"]{
      //width: 100%;
      width: 260px;
      height: 42px;
      margin: 10px 0;
      font-size: 18px;
      //padding: 0.6em 3em;
      padding-left: 25px;
      border: 2px solid $primary-color-3;
      border-radius: 35px;
      color: #333;
      outline: none;
    }
    input[type="number"]{
      //width: 100%;
      width: 260px;
      height: 42px;
      margin: 10px 0;
      font-size: 18px;
      //padding: 0.6em 3em;
      padding-left: 25px;
      border: 2px solid $primary-color-3;
      border-radius: 35px;
      color: #333;
      outline: none;
    }
  }
}


.notification-table{
  overflow-x: scroll;
}