@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App{
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 26px;
}

h4{
  font-size: 18px;
}