// Primary colors
$primary-color: #00AAB0;
$primary-color-2: #80DCDF;
$primary-color-3: #1D3148;
$primary-color-4: #455E6E;
$primary-color-4: #414141;

// Secondary
$secondary-color: #E8CE62;
$secondary-color-2: #FF7C65;
$secondary-color-3: #1571DC;
